
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Datos persona</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h3>[[#{plantilla.subtitulo}]]</h3>
        <a th:href="@{/}">[[#{accion.regresar}]]</a>
        <form method="POST" th:action="@{/guardar}" th:object="${persona}">
            <input type="hidden" name="id_persona" th:field="*{id_persona}">
            <label for="nombre">[[#{persona.nombre}]]</label>
            
            <input type="text" name="nombre"th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error al campo nombre</span>
             </br>            
            <label for="appelido">[[#{persona.nombre}]]</label>
            <input type="text" name="apellido"th:field="*{apellido}">
            <!--aplicar un comodin-->
            <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">errores apellido</span>
            <br></br>
            <label for="email">[[#{persona.email}]]</label>
            <input type="text" name="email"th:field="*{email}">
            <!--aplicar un comodin-->
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">errores email</span>
            <br></br>
            <label for="telefono">[[#{persona.telefono}]]</label>
            <input type="tel" name="telefono"th:field="*{telefono}">
            <!--aplicar un comodin-->
            <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">errores telefono</span>
            <br></br>
            <input type="submit" name="guardar" th:value="#{accion.guardar}">
        </form>
        <fooder th:replace="layout/plantilla :: fooder"></fooder>
    </body>
</html>
